* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}

nav {
    /* background-color: red; */
    display: flex;
width: 100vw;
height: 10vh;
align-items: center;
flex-shrink: 0;
margin: 0;
}
.nav-content{
    display: flex;
    height: 58px;
    align-items: center;
    margin-top: 17px;
    margin-left: 57px;
}

.nav-logo {
    width: 27px;
height: 9px;
flex-shrink: 0;
background: #000;
border-radius: 4.5px;
background: linear-gradient(135deg, #E537B9 0%, #C040DF 100%);
}
.nav-text {
    color: var(--text-text-gray-dark, #292B2E);
font-family: Montserrat !important;
font-size: 23px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 104.348% */
letter-spacing: 2px;
}

main {
    margin:0 6vw;
}
.heading{
    color: #252B42;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 133.333% */
}
.sub-heading{
    color: #858585;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
margin-top: 10px;
margin-bottom: 32px;
}
/* 
.accordion{
    margin-right: 152px;
} */

.card-body h5 {
    color: var(--text-text-gray-dark, #292B2E);

/* H3 */
font-family: Montserrat !important;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
letter-spacing: 0.1px;
}
.accordion-button:not(.collapsed){
    background-color: white;
}

.accordion-button{
    background: none;
    border: none;

}

.carousel-inner{
    height: 536px;
}
.card {
    overflow: scroll;
}
.card-body {
    height: 168px;
    flex-wrap: wrap;
}
.card img {
    height: 40vh;
    object-fit: cover;
}

.card-title{
    color: var(--text-text-gray-dark, #292B2E);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}
.accordion{
    /* overflow: scroll; */
}

.accordion-item{
   border: none;

}
.accordion-button:after {
    order: -1;
    margin-left: 0; 
    margin-right:0.5em;
}

.carousel-control-next  {
margin: 0;
padding: 0;
border-radius: 10px;
background: var(--gray-gray-100, #F6F8FA);
justify-content: end;
border: 3px;
margin-right: -2vw;
width: 20px;
height: 500px;
flex-shrink: 0;


}  

.carousel-control-prev {
    margin: 0;
padding: 0;
border-radius: 10px;
background: var(--gray-gray-100, #F6F8FA);
justify-content: end;
border: 3px;
margin-left: -2vw;
width: 20px;
height: 500px;
flex-shrink: 0;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }

  @media only screen and (max-width: 600px) {
    
    .carousel-inner{
        height: 609px;
        
        width: 327px;
    }
    .card img {
        width: 327px;
        height: 202px;
    }
    .card-body {
        width: 327px;
        height: 400px;
    }
    .card-title {
        color: var(--text-color, #252B42);

font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px;
letter-spacing: 0.1px;
    }
    .carousel-control-next{
        height: 608px;
    }
    .carousel-control-prev{
        height: 590px;
        margin-left: -18px;
    }
  }
